/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}

h3 {
    font-size: 1.05em;
}

/*--------------------------------------------------------------
# Colours
--------------------------------------------------------------*/
.bg-black {
    background-color: #000000 !important;
}

.bg-teal {
    background-color: #51757d !important;
    height: 34vh;
}

.bg-lightblue {
    background-color: #e1eef1 !important;
}

.fg-grey {
    color: gray;
}

/*--------------------------------------------------------------
# Other
--------------------------------------------------------------*/

.bgimg {
    background-image: url('../img/coverphoto.jpg');
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-position: left;
    background-position-y: top;
    background-repeat: no-repeat;
}

.logo {
    width: 480px;
}

/*--------------------------------------------------------------
# Padding
--------------------------------------------------------------*/

.pad-container-hero {
    padding-top: 75px;
}

.pad-main-body{
    padding: 70px;
}

.pad-footer{
    padding: 30px 70px;
}